:root {
    --background-width: 100vw;
    --background-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('Game Images/BJ_Table.jpeg');
    background-size: cover;
    background-position: center;
    width: var(--background-width);
    height: var(--background-height);
    position: relative;
}

#scoreboard {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 0;
}

.info-box {
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

#player-info {
    top: 60px;
    left: 10px;
    height: auto; /* Adjust height */
    padding: 15px; /* Adjust padding */
    width: 170px;
}

#how-to-play {
    top: 230px;
    left: 10px;
    height: auto; /* Adjust height */
    padding: 15px; /* Adjust padding */
    width: 220px;
}

#dealer-info {
    top: 60px;
    right: 10px;
    height: auto; /* Adjust height */
    padding: 15px; /* Adjust padding */
    width: 170px;
}

.hand {
    margin: 20px;
    display: flex;
    justify-content: center;
}

#player-hand,
#dealer-hand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card {
    width: 80px;
    height: 120px;
}

#buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

#count-chips {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#count-chips > div {
    margin-bottom: 5px;
}

#bank {
    margin-bottom: 10px;
}

#player-wager,
#hand-result,
#hint,
#result,
#player-action {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

#payout-section {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
