body {
    background-color: green;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('Game Images/BJ_Table.jpeg');
    background-size: cover;
}

#scoreboard {
    background-color: black;
    padding: 10px;
    width: 100%;
    text-align: center;
}

#table {
    margin: 20px 0;
}

.hand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.card {
    width: 100px;
    height: auto;
    margin: 0 5px;
}

#player-action, #hint, #result, #player-wager {
    background-color: black;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
}

#buttons {
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

#count-chips {
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

#count-chips div {
    margin-bottom: 10px;
}
